.plan_container {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    background-image: url('/public/Asset/background/plan_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



.overlay {
    /* Glass Card */
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 223, 179, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass_card {
    /* Glass Card */    
    padding: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.forward_index {
    z-index: 1;
}
