.news_container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    
}

.news_title > p {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2.5rem;
}

.news_items {
    padding-top: 2rem;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 100%;
}

.non_link_text {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 992px) {
    .news_items {
        display: flex;
        flex-direction: column;
    }
}