.container {
    padding: 1rem;
    text-align: center;
}

.program_title {
    text-align: center;
    padding-bottom: 16px;
}

.program_image {
    position: relative;
    padding: 16px;
}

.program_image > img{
    width: 100%;
}

.program_image::after {
    content: "";
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    width: 95%;
    height: 95%;
    background-color: #FEEED3;
}

.program_image::before {
    content: "";
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -20px;
    right: -20px;
    width: 95%;
    height: 95%;
    background-color: #EDB079;
    
}

.program_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.programs {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1400px) {
    .program_content {
        flex-direction: column;
    }

    .programs {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 32px;
    }
}

@media (max-width: 1200px) {
    .program_content {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .programs {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }

    .program_image {
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    .program_image::after {
        top: 0px;
        left: 0px;
    }
    
    .program_image::before {
        bottom: 0px;
        right: 0px;
    }
}